USE [master]
GO
/****** Object:  Database [NONGTRAI]    Script Date: 9/20/2024 9:59:50 PM ******/
CREATE DATABASE [NONGTRAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NONGTRAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NONGTRAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NONGTRAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NONGTRAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NONGTRAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NONGTRAI]
GO
/****** Object:  Table [dbo].[GIASUC]    Script Date: 9/20/2024 9:59:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIASUC](
	[loai] [varchar](5) NULL,
	[socon] [int] NULL,
	[sua] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[GIASUC] ([loai], [socon], [sua]) VALUES (N'Bo', 3, 48)
INSERT [dbo].[GIASUC] ([loai], [socon], [sua]) VALUES (N'Cuu', 3, 12)
INSERT [dbo].[GIASUC] ([loai], [socon], [sua]) VALUES (N'De', 2, 16)
GO
USE [master]
GO
